traficom/login.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:epp-1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="epp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="command">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="login">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="clID" type="xs:string" />
                    <xs:element name="pw" type="xs:string" />
                    <xs:element name="newPW" type="xs:string" />
                    <xs:element name="options">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="version" type="xs:decimal" />
                          <xs:element name="lang" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="svcs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="objURI" type="xs:string" />
                          <xs:element name="svcExtension">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="extURI" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="clTRID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>