traficom/logout.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:epp-1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="epp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="command">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="logout" />
              <xs:element name="clTRID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>